body {
  padding-left: 100px;
}

.video-thumbnail {
  width: 300px;
  display: block;
}

.video-preview {
  width: 300px;
}

.search-bar {
  display: block;
}

.channel-name {
  margin: 0 0 0 0;
  color: rgb(96, 96, 96);
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
}

.video-title {
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, Arial, sans-serif;
}

.video-stats {
  margin-top: 4px;
  color: rgb(96, 96, 96);
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
}

.video-info-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 10px;
}

.the-all-video-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}
.profile-picture {
  width: 36px;
  border-radius: 30px 30px 30px 30px;
  margin-top: 8px;
}
