.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
}

.left-section {
  background-color: blueviolet;
  width: 100px;
}

.middle-section {
  background-color: pink;
  flex: 1;
  max-width: 500px;
  margin-left: 70px;
  margin-right: 35px;
}

.right-section {
  background-color: blueviolet;
  width: 200px;
}
