.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-right: 24px;
  margin-left: 24px;
}
.youtube-logo {
  height: 30px;
  width: 90px;
}

.middle-section {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin-left: 70px;
  margin-right: 35px;
}
.search-bar {
  width: 300px;
  height: 35px;
  flex: 1;
  align-items: center;
  border: solid 1px grey;
  padding-left: 15px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}
.search-bar:focus {
  border: solid 1px blue !important;
}
.search-button {
  height: 35px;
  width: 66px;
  border-width: 1px;
  border: solid 1px grey;
  background-color: rgb(241, 241, 241);
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 23px;
  margin-top: 4px;
}
.voice-search-button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50px 50px;
  background-color: rgb(247, 247, 247);
  border-color: rgb(204, 204, 204);
}
.voice-search-icon {
  height: 20px;
  margin-top: 4px;
}
.right-section {
  width: 200px;
  display: flex;
  align-items: center;
}
.upload-button {
  height: 35px;
  width: 30px;
  border: none;
  border-radius: 2px;
  background-color: white;
}

.upload-icon {
  height: 23px;
  margin-top: 4px;
}

.apps-button {
  height: 35px;
  width: 30px;
  border: none;
  border-radius: 2px;
  background-color: white;
  margin-left: 16px;
}

.apps-icon {
  height: 23px;
  margin-top: 4px;
}
